spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/retail_order_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8083
  servlet:
    context-path: /api/orders

service:
  auth-url: http://localhost:8081/api/auth
  product-url: http://localhost:8082/api/products
  payment-url: http://localhost:8084/api/payments

logging:
  level:
    root: INFO
